@import "fonts.ge.scss";
// fonts

h2,
h3,
h4,
h5,
h6{
	font-family: $pant-bold;
}
p{
	font-family: $dejavu;
}
nav.burgher{
	a{
		font-family: $pant-bold;
	}
}	
.sup-header{
	span{
		font-family: $pant-reg;
	}
}
.sub-header{
	.menu{
		li{	
			a{
				font-family: $pant-bold;
			}
		}
	}
	input{
		font-family: $dejavu;
	}
}
.prodtab-item{
	span{
		font-family: $pant-reg;
	}
}
.products-more{	
	span{
		font-family: $pant-reg;
	}
}
.news{
	.col-md-6{
		span{
			font-family: $pant-reg;
		}
		p{
			font-family: $dejavu;
		}
	}
}
.info-aqua{
	span{
		font-family: $pant-bold;
	}
}
.sub-footer{
	border-top: 1px solid #E9E9E9;
	padding-top: 30px;
	margin-top: 25px;
    span{
		font-family: $dejavu;
    }
}
.product-item{
	a{
		span{
			font-family: $pant-bold;
		}
	}
}
.section-menu{
    a{
		font-family: $dejavu;
    }
}
.content-nav{
	span{
		font-family: $pant-bold;
	}
}
.blog-item{
	.blog-title{
		font-family: $pant-bold;
	}
	span{
		font-family: $pant-bold;
	}
}
.pagination{
	span{
		font-family: $pant-bold;
	}
}
.service-info{
    span{
		font-family: $pant-bold;
    }
}
.contact-icons{
	span{
		font-family: $pant-bold;
	}
}
.inputs{
	input{
		font-family: $dejavu;
	}
}
.cont-text{
	textarea{
		font-family: $dejavu;
	}
	input[type=submit]{
		font-family: $pant-bold;
	}
}
.news-details{
	a{
		font-family: $pant-bold;
	}
	.news-date{
		font-family: $dejavu;
	}
}
.news-text{
    *{
		font-family: $dejavu;
    }
}
.hist-title{
	font-family: $pant-bold;
}
.product{
	.prod-title,
	.num-prod{
		font-family: $pant-reg;
	}
}
.files{
	a{
		font-family: $pant-reg;
	}
}
.swiper-slide{
	a{
		font-family: $pant-reg;
	}
}
.chemical-items{
	.blog-item{
		.details{
			span{
				font-family: $pant-bold;
			}
		}
		span{
			font-family: $pant-reg;
		}
	}
}
.list-group{
	.title-list{
		font-family: $pant-bold;
	}
}
.list-group.link{
	a{
		font-family: $pant-reg;
	}
}